In [1]:
import pandas as pd

test1_df = pd.DataFrame({
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']
})

test2_df = pd.DataFrame({
    'E': ['A4', 'A5', 'A6', 'A7'],
    'F': ['B4', 'B5', 'B6', 'B7'],
    'G': ['C4', 'C5', 'C6', 'C7'],
    'H': ['D4', 'D5', 'D6', 'D7']
})

test3_df = pd.DataFrame({
    'I': ['A8', 'A9', 'A10', 'A11'],
    'J': ['B8', 'B9', 'B10', 'B11'],
    'K': ['C8', 'C9', 'C10', 'C11'],
    'L': ['D8', 'D9', 'D10', 'D11']
})

In [4]:
# create a new df with a multiindex and all the dataframes inside it with the outer index being the name of the dataframe but transpose the dataframes
df = pd.concat([test1_df.T, test2_df.T, test3_df.T], keys=['test1', 'test2', 'test3'])

In [6]:
df.T

  test1             test2             test3
      A   B   C   D     E   F   G   H     I    J    K    L
0    A0  B0  C0  D0    A4  B4  C4  D4    A8   B8   C8   D8
1    A1  B1  C1  D1    A5  B5  C5  D5    A9   B9   C9   D9
2    A2  B2  C2  D2    A6  B6  C6  D6   A10  B10  C10  D10
3    A3  B3  C3  D3    A7  B7  C7  D7   A11  B11  C11  D11